<div class=container>

<h1>{{title}}</h1>


<div >

<table class="table table-striped">
  <tr><h1>{{finalOutput}}</h1></tr>
  <tr><app-pluse (pluseEvent)="receivePluseOutput($event)" (countEvent)="receivePluseCount($event)" [pluseResult]="finalOutput" [countResult] ="finalCount"></app-pluse></tr>
  <tr><app-minus (minusEvent)="receiveMinusOutput($event)" (countEvent)="receiveMinusCount($event)" [minusResult]="finalOutput" [countResult] ="finalCount"></app-minus></tr>
  <tr><app-multiply  (multiplyEvent)="receiveMultiplyOutput($event)" (countEvent)="receiveMultiplyCount($event)" [multiplyResult]="finalOutput" [countResult] ="finalCount"></app-multiply></tr>
  <tr><app-divide  (divideEvent)="receiveDivideOutput($event)" (countEvent)="receiveDivideCount($event)"  [divideResult]="finalOutput" [countResult] ="finalCount"></app-divide></tr>

  <tr><h1>Count:</h1>
  <h1>{{finalCount}}</h1></tr>

  <tr><button class="btn btn-primary" (click)="ClearAll()" >ClearAll</button></tr>
</table>
  </div>
</div>
